.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.conteinerChat{
  width: 90%;
  justify-content: center;
  /* align-items: center; */
  display: flex;
}

.chat-users{
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-users button{
  margin-bottom: 5px;
}

.chat-users button.inativo{
  background-color: de;
}

.chat-users button.ativo{
  background-color: lightblue;
}


.chat-window {
  position: relative;
  width: 50%;
  border: 1px solid #ddd;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intoChat-users{
  position: fixed;
  width: 40%;
  background-color: lightblue;
  padding: 10px 15px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.intoChat-users h4, .intoChat-users p{
  margin: unset;
}

.date-header{
  margin-top: 45px;
}

.mensagem{
  max-width: 60%;
  flex-wrap: wrap;
  width: fit-content;
  padding: 7px 12px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word; /* Garante que a mensagem quebre ao final da linha */
}

.mensagem.enviada{
text-align: right;
background-color: #d1ffd1;
align-self: flex-end !important;
}


.mensagem.recebida{
text-align: left;
background-color: #f1f1f1;
align-self: flex-start;
}

.mensagemContent {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap; /* Mantém as quebras de linha do input do usuário */
  word-wrap: break-word; /* Permite a quebra de palavras longas */
  word-break: break-word; /* Garante que palavras longas quebrem para a linha seguinte */
  overflow-wrap: break-word; /* Garante que palavras não ultrapassem os limites */
}
