@import url(colors.css);

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.conteinerChat {
  position: relative !important;
  width: 50%;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  margin: 30px 0;
  border: 1px solid var(--lightGreen);
  padding: 10px;
  border-radius: 10px;
  transition: all .3s !important;
}

.conteinerChat.justUsers {
  transition: all .3s !important;
  width: fit-content;
  height: 510px;
}

.conteinerChat.justUsers .chat-window{
  transition: all .3s !important;
  display: none !important;
}

.conteinerChat.justUsers .chat-users{
  transition: all .3s !important;
  border-right: unset;
}


.chat-users {
  overflow-y: auto;
  /* height: 450px !important; */
  border-right: 1px solid var(--lightGreen);
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.chat-users::-webkit-scrollbar {
  width: 1px;
  height: 0px;
}

.chat-users::-webkit-scrollbar-track {
  background: var(--white);

}

.chat-users::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}


.actualChatUsers {
  flex-direction: column;
  display: flex;
}

.actualChatUsers button {
  position: relative !important;
  margin-bottom: 5px;
  color: var(--lightGrey);
  font-weight: bold;
  border: none;
  border-bottom: 2px solid transparent;
  margin-right: 15px;
  padding-bottom: 5px;
  margin-top: 5%;
  background-color: transparent !important;
  border-radius: unset !important;
  transition: all .3s !important;
  justify-content: left !important;
  align-items: center;
  display: flex;
}

/* .actualChatUsers button.inativo{
  background-color: de;
} */

.actualChatUsers button.ativo {
  width: 100%;
  position: relative;
  transform: translateX(10px);
  color: var(--green) !important;
  border-radius: unset !important;
  border-bottom: 2px solid var(--green);
  transition: all .3s !important;
}

.actualChatUsers button:hover {
  color: var(--black) !important;
  transform: translateX(10px);
}

.addUserBtn {
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: 400;
  width: 100%;
  /* margin-right: 10px; */
  cursor: pointer;
  background-color: var(--darkGreen);
  color: var(--withe);
  border: 1px solid var(--darkGreen);
  transition: all .3s !important;

}
/* 

.addUserBtn:hover {
  background-color: var(--green);
} */

.addUserBtn.show {
  border-radius: 20px 20px 2px 2px;
  background-color: var(--moreLightGreen);
  color: var(--darkGreen);
}

.dropdownAddUser{
  margin-top: 3px;
  backdrop-filter: blur(2px);
  background-color: transparent;
  border: 1px solid var(--green);
  width: 180px;
  border-radius: 2px 2px 10px 10px;
  padding: 10px;
}

.dropdownAddUser p{
  margin: unset;
  font-size: 12px;
}

.userAddition{
  margin: 2px 0;
  color: var(--lightGrey);
  font-weight: bold;
  border: none;
  margin-right: 15px;
  background-color: transparent !important;
  transition: all .3s !important;
  display: flex;
}

.userAddition:hover {
  color: var(--black) !important;
  transform: translateX(10px);
}

.chat-window {
  width: 70%;
  padding: 10px 35px;
  display: flex !important;
  flex-direction: column !important;
  /* align-items: end !important; */
}

.chatContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  /* margin: 0 auto; */
  border-radius: 8px;
  height: 400px !important;
  overflow-y: scroll;
  margin-bottom: 15px;
}


.chatContent::-webkit-scrollbar {
  width: 1px;
  height: 0px;
}

.chatContent::-webkit-scrollbar-track {
  background: var(--white);

}

.chatContent::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}


.intoChat-users {
  background-color: var(--lightGreen);
  color: var(--black);
  padding: 10px 15px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.intoChat-users h4,
.intoChat-users p {
  margin: unset;
}

.date-header {
  font-weight: bold;
  opacity: 0.3;
  margin-top: 10px;
}

.mensagem {
  max-width: 60%;
  flex-wrap: wrap;
  width: fit-content;
  padding: 7px 12px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  /* Garante que a mensagem quebre ao final da linha */
}

.mensagem.enviada {
  text-align: right;
  align-self: flex-end !important;
  position: relative;
  border-radius: 10px 0 10px 10px;
  background-color: var(--lighterGray);
  padding: 6px 55px 6px 10px !important;
}


.mensagem.recebida {
  position: relative;
  border-radius: 0 10px 10px 10px;
  background-color: var(--lightGreen);
  padding: 6px 55px 6px 10px !important;
  text-align: left;
  align-self: flex-start;
}

.mensagemContent {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  /* Mantém as quebras de linha do input do usuário */
  word-wrap: break-word;
  /* Permite a quebra de palavras longas */
  word-break: break-word;
  /* Garante que palavras longas quebrem para a linha seguinte */
  overflow-wrap: break-word;
  /* Garante que palavras não ultrapassem os limites */
}

.mensagemContent p {
  font-weight: 500;
  font-size: 14px;
  margin: unset;
  /* margin-bottom: 3px !important; */
}

.messageTimestamp {
  font-weight: 500;
  position: absolute;
  bottom: 3px;
  right: 7px;
  font-size: 10px !important;
  color: #888;
}

.notification {
  position: absolute;
  background-color: var(--green);
  color: white;
  border-radius: 50px;
  padding: 2px;
  width: 12px;
  height: 12px;
  font-size: 9px;
  top: 1px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-form {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.chat-form input {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  background-color: var(--withe);
  border: 1px solid var(--lightGreen) !important;
  color: var(--black);
  margin-right: 10px;
}

.chat-form input:focus-visible {
  box-shadow: unset !important;
  border-color: var(--darkGreen) !important;
}

.chat-form input::placeholder {
  opacity: 0.9;
}

.chat-form button {
  padding: 6px 10px;
  border-radius: 20px;
  /* margin-right: 10px; */
  cursor: pointer;
  background-color: var(--darkGreen);
  color: var(--withe);
  border: 1px solid var(--darkGreen);
  transition: all .3s !important;
}

.chat-form button:hover {
  background-color: var(--moreLightGreen);
  color: var(--darkGreen);
}

.nonAdditionNotification{
  /* background-color: var(--moreLightGreen); */
  border-radius: 3px 10px 10px 3px;
  border: 1px solid var(--darkGreen);
  border-left: 4px solid var(--darkGreen);
  /* border-bottom: unset; */
  padding: 10px;
  display: flex;
  align-items: center;
}

.nonAdditionNotification p{
  margin: unset;
  font-size: 15px;
  margin-right: 10px;
  color: var(--lightGrey);
}

.nonAdditionNotification p span{
font-weight: 700;
  color: var(--darkGreen);
}

.nonAdditionNotification button{
  border-radius: 50px;
  margin: 0 2px;
  padding: 5px 15px;
  cursor: pointer;
}

.nonAdditionNotification button.add{
  background-color: transparent;
  border: 1px solid var(--darkGreen);
  color: var(--darkGreen);
}

.nonAdditionNotification button.delete{
  background-color:  var(--darkGreen);
  border: 1px solid var(--darkGreen);
  color: var(--withe);
}